// Styling for the horizontally scrolling clients section
#scrolling-clients {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#col-md-3 col-sm-6 {
  flex: 0 0 auto;
}


@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 20%; /* 设置每列宽度为20% */
    max-width: 20%;
  }
}